@use './variable' as *;


@mixin layout($start:space-between,$vertical: center, $wrap: nowrap, $direction: row){
    display: flex;
    justify-content: $start;
    align-items: $vertical;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin margin($bottom: 0){
    margin: 0 auto;
    margin-bottom: $bottom;
}

@mixin center{
    text-align: center;
}

@mixin border($width: $font){
    border: 1px solid $width;
}